body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #15A801;
}
h1{
    background-color: #243323;
    text-align: center;
}
strong{
    color: silver;
}
a{
    background-color: white;
    color: black;
}
img{
    size: portrait;
}

